# ==========================
# 1. 绝对机密 (必须要屏蔽！)
# ==========================
.env
.env.local
*.key
*.pem
# 如果你有私有的配置文件，也加在这里
config_private.py

# ==========================
# 2. Python 垃圾文件
# ==========================
# 编译产生的缓存，别人不需要，全是乱码
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境 (Virtual Environment)
# 你的环境非常大，且只有你的电脑能用，不要上传
venv/
.venv/
env/

# ==========================
# 3. IDE 配置文件
# ==========================
# VS Code 的个人配置（颜色、插件推荐等）
.vscode/
# PyCharm 的配置
.idea/

# ==========================
# 4. 操作系统垃圾
# ==========================
# Windows 的缩略图缓存
Thumbs.db
ehthumbs.db
# Mac 的文件夹属性
.DS_Store


# ==========================
# 5. 自己的玩意
# ==========================
安装python！/